.PesquisarContainer {
    width: 100%;
    height: 800px;
    padding: 20px;
}

.mat-form-field {
    width: 100%;
    text-align: left;
}

.PesquisarContainer-child1 {
    width: 300px;
    float: left;
    padding-right: 80px;
}  

.mat-table{
    width: 100%;
    height: 90%;
    text-align: left;
    background-color: rgb(193, 219, 236)
}

.PesquisarContainer-child2 {
    width: 900px;
    height: 600px;
    float: left;
    padding: 30px;
}  

.mat-row:hover {
    background-color: rgb(241, 246, 247);
  }