<section class="PesquisarContainer">
    <div class="PesquisarContainer-child1" inline-block="true">
        <form class="pesquisarJogadoresForm" [formGroup]="pesquisarJogadorForm">
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Nome</mat-label>
                <input matInput type="string" placeholder="max. 40 carateres" formControlName="nome">
                <span matSuffix>
                    <mat-icon>person</mat-icon>
                </span>
                <mat-error>Max size: 40 carateres</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Email</mat-label>
                <input matInput type="string" placeholder="email@email.pt" formControlName="email">
                <span matSuffix>
                    <mat-icon>email</mat-icon>
                </span>
                <mat-error>Email inválido</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Humor</mat-label>
                <input matInput type="string" placeholder="Humor" formControlName="humor">
                <span matSuffix>
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                </span>
                <mat-error>Humor inválido</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Facebook URL</mat-label>
                <input matInput type="string" placeholder="Facebook URL" formControlName="urlFacebook">
                <span matSuffix>
                    <mat-icon>facebook</mat-icon>
                </span>
                <mat-error>URL inválido</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>LinkedIn URL</mat-label>
                <input matInput type="string" placeholder="Facebook URL" formControlName="urlFacebook">
                <span matSuffix>
                    <mat-icon>reduce_capacity</mat-icon>
                </span>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Telefone</mat-label>
                <input matInput type="string" placeholder="Telefone" formControlName="telefone">
                <span matSuffix>
                    <mat-icon>phone</mat-icon>
                </span>
                <mat-error>Número inválido</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field class="datePicker" appearance="fill" color="primary">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento"
                    formControlName="dataNascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Nacionalidade</mat-label>
                <input matInput type="string" placeholder="Nacionalidade" formControlName="nacionalidade">
                <span matSuffix>
                    <mat-icon>flag</mat-icon>
                </span>
                <mat-error>Texto inválido</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Cidade de residência</mat-label>
                <input matInput type="string" placeholder="Cidade de residência" formControlName="cidadeResidencia">
                <span matSuffix>
                    <mat-icon>location_city</mat-icon>
                </span>
                <mat-error>Texto inválido</mat-error>
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="back()">Voltar</button>
            <button mat-raised-button color="primary" (click)="procurar()">Procurar Jogador</button>
        </div>
    </div>



    <div class="PesquisarContainer-child2" inline-block="true" >
        <div *ngIf="this.jogadores.length === 0">Pesquise jogadores no menu ao lado</div>
        <div class="xpto" *ngIf="this.jogadores.length > 0">

        <table mat-table [dataSource]="this.jogadores" matSort >
            <!-- ID Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let elements"> {{elements.nome}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.email}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="humor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Humor </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.humor}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="facebookURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Facebook URL </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.urlFacebook}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="linkedInURL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LinkedIn URL </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.urlLinkedIn}} </td>
            </ng-container>

            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.telefone}} </td>
            </ng-container>

            <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.dataNascimento}} </td>
            </ng-container>

            <ng-container matColumnDef="nacionalidade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nacionalidade </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.nacionalidade}} </td>
            </ng-container>

            <ng-container matColumnDef="cidadeResidencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade de residência </th>
                <td mat-cell *matCellDef="let jogadores"> {{jogadores.cidadeResidencia}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="clickedRow = {nome: row.nome, email: row.email} "
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select página de utilizadores"></mat-paginator>
            <div>
                <button mat-raised-button color="primary" (click)="fazerLigacao()">Pedir Ligação</button>
                <mat-divider></mat-divider>
                <mat-form-field class="jogadorSelecionado" appearance="fill" color="primary">
                    <mat-label *ngIf="!clickedRow">Jogador selecionado</mat-label>
                    <input matInput type="string" placeholder="Jogador" [value]=clickedRow?.nome >
                    <span matSuffix>
                        <mat-icon>face</mat-icon>
                    </span>
                </mat-form-field>
                <mat-divider></mat-divider>
                <mat-form-field class="Força de Ligação" appearance="fill" color="primary" [formGroup]="addForcaLigacaoForm">
                    <mat-label *ngIf="!clickedRow">Força de Ligação</mat-label>
                    <input matInput type="string" formControlName="forca">
                    <span matSuffix>
                        <mat-icon>favorite</mat-icon>
                    </span>
                </mat-form-field>
            </div>
        </div> 
    </div>
</section>