<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name"> Jogo de Rede Social</h1>
  <li *ngIf="!userIsAuthenticated">
    <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
  </li>
  <li *ngIf="!userIsAuthenticated">
  <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Registar</a>
  </li>
  <li *ngIf="userIsAuthenticated">
    <a mat-button routerLink="/logout" routerLinkActive="mat-accent" (click)="onLogout()" >Logout</a>
  </li>
  </mat-toolbar>
