h2 {
    color: #0014c4;
 
  }

  .btn1 {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    float: right;
    top: -60px;
  }

  .btn1:hover {
    color: white;
    background-color: #0014c4;
  }

  app-messages{
    bottom: 0;
  }

