<form [formGroup]="dados" #formDirective="ngForm" (ngSubmit)="onFormSubmit(formDirective)" class="editar-humor">
    <h4>Editar Humor</h4>
    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
             placeholder="Ex. email@exemplo.com">
        <mat-error *ngIf="dados.get('email').hasError('email') && !dados.get('email').hasError('required')">
            P.f. digitar um endereço de email válido
        </mat-error>
        <mat-error *ngIf="dados.get('email').hasError('required')">
        O Email é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
        <mat-label>Selecionar Humor</mat-label>
        <mat-select formControlName="humor" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let humor of listaEstadosHumor" [value]="humor.estadoHumor">
                {{humor.estadoHumor}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="dados.get('humor').hasError('required')">
            Tem que realizar uma seleção
        </mat-error>
          
    </mat-form-field>
    

    <button class="btn1" type="submit" mat-raised-button color="primary" [disabled]="dados.invalid">Guardar</button> 
    <!--button class="btn1" mat-button color="primary" (click)="goBack()">Voltar</button!-->
</form>
