<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%">
            <mat-form-field fxFlex="100%" class="example-full-width" appearance="fill">
                <mat-label>Jogador Email</mat-label>
                <input type="email" matInput [(ngModel)]="this.emailDe">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="lerMissoes()">Ler</button>

        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-card  fxFlex="25%" *ngFor="let missao of missoes" class="card mat-elevation-z10">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <mat-icon *ngIf="!missao.jogadorObjectivoAvatar">account_circle</mat-icon>
                        <img *ngIf="missao.jogadorObjectivoAvatar" src="data:image/jpeg;base64,{{missao.jogadorObjectivoAvatar}}" />
                    </div>
                    <mat-card-title>{{missao.jogadorObjectivoNome}}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="row wrap">
                    
                    <mat-label fxFlex="100%">Grau Dificuldade</mat-label>
                    <input type="number" matInput [readonly]=true [(ngModel)]="missao.grauDificuldade">
                    
                </mat-card-content>
            </mat-card>

    </div>
    <mat-paginator #paginator>
    </mat-paginator>
</div>