html {
  height: 100%;
  width: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  .header {
    background-color: beige;
  }

  .sideNav {
    flex-grow: 1;
  }

}

app-sidenav { display: flex; }
mat-drawer-container { flex: 1 1 auto; }
