<head>
    <meta charset='utf-8'>
    <title>Projecto 2020/2021</title>
    <link rel="stylesheet" href="jogo.component.scss">
</head>
<div id="Threejs" style="position: absolute; left:0px; top:0px">
    <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>
<div id="mapCanvas" style="position: absolute; right:25px; bottom:25px; width:320px; height:240px;"></div>
<div id="checkBox">
    <section class="helpMenu" [formGroup]="helpMenu">
        <p>
            <mat-checkbox formControlName="multiple_views">Multiple views</mat-checkbox>
        </p>
        <p>
            <mat-checkbox formControlName="user_interface">User interface</mat-checkbox>
        </p>
        <p>
            <mat-checkbox formControlName="mini_map">Mini-map</mat-checkbox>
        </p>
        <p>
            <mat-checkbox formControlName="help">Help</mat-checkbox>
        </p>
        <p>
            <mat-checkbox formControlName="statistics">Statistics</mat-checkbox>
        </p>
    </section>
    <section class="mini_map">
        <h4>You chose:</h4>
        <mat-label *ngIf="this.helpMenu.controls['mini_map'].value">{{helpMenu.value | json}}</mat-label>
    </section>
</div>
