<form [formGroup]="dadosInt" #formDirective="ngForm" (ngSubmit)="onFormSubmit(formDirective)" class="pedir-int">
    <h4>Pedir Introdução</h4>
   
    <mat-form-field class="full-width">
        <mat-label>Email Jogador Requisitante</mat-label>
        <input type="email" matInput formControlName="emailJogadorRequisitante" [errorStateMatcher]="matcher"
             placeholder="Ex. email@exemplo.com">
        <mat-error *ngIf="dadosInt.get('emailJogadorRequisitante').hasError('emailJogadorRequisitante') 
        && !dadosInt.get('emailJogadorRequisitante').hasError('required')">
            P.f. digitar um endereço de email válido
        </mat-error>
        <mat-error *ngIf="dadosInt.get('emailJogadorRequisitante').hasError('required')">
        O Email do Jogador Requisitante é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Email Jogador Intermediario</mat-label>
        <input type="email" matInput formControlName="emailJogadorIntermediario" [errorStateMatcher]="matcher"
             placeholder="Ex. email@exemplo.com">
        <mat-error *ngIf="dadosInt.get('emailJogadorIntermediario').hasError('emailJogadorIntermediario') 
        && !dadosInt.get('emailJogadorIntermediario').hasError('required')">
            P.f. digitar um endereço de email válido
        </mat-error>
        <mat-error *ngIf="dadosInt.get('emailJogadorIntermediario').hasError('required')">
        O Email do Jogador Intermediario é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Email Jogador Objectivo</mat-label>
        <input type="email" matInput formControlName="emailJogadorObjectivo" [errorStateMatcher]="matcher"
             placeholder="Ex. email@exemplo.com">
        <mat-error *ngIf="dadosInt.get('emailJogadorObjectivo').hasError('emailJogadorObjectivo') 
        && !dadosInt.get('emailJogadorObjectivo').hasError('required')">
            P.f. digitar um endereço de email válido
        </mat-error>
        <mat-error *ngIf="dadosInt.get('emailJogadorObjectivo').hasError('required')">
        O Email do Jogador Objectivo é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Força de Ligação</mat-label>
        <input matInput formControlName="forcaLigacao" [errorStateMatcher]="matcher">
        <mat-error *ngIf="dadosInt.get('forcaLigacao').hasError('required')">
       A força de ligação é <strong>obrigatória</strong>
        </mat-error>
    </mat-form-field>
    
    <button class="btn1" type="submit" mat-raised-button color="primary" [disabled]="dadosInt.invalid">Guardar</button> 
    
</form>
